# Backend Environment
PORT=5050
NODE_ENV=development
DATABASE_URL=postgresql://dams_user:dams_password@localhost:5432/dams_db?schema=public
REDIS_URL=redis://localhost:6379
REDIS_TTL=60
CORS_ORIGIN=http://localhost:3000

# Frontend Environment
NEXT_PUBLIC_API_URL=http://localhost:5050/api
